<div class="container footer">
		<div class="ui container">
			<div class="ui four column stackable doubling grid">
				<div class="column">
					<div class="ui header">Sample Category</div>
					<div class="ui list">
						
						<% categorys.forEach(function (category) { %>
						<a href="" class="item"><%= category.name %></a>
						<% }); %>
					</div>
				</div>
				
				<div class="column">
					<div class="ui header">Help</div>
					<div class="ui list">
						<a href="#" class="item">Term of Service</a>
						<a href="#" class="item">Privacy Policy</a>
						<a href="#" class="item">FAQ</a>
						<a href="#" class="item">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		Modern Template | Semantic UI
	</div>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/semantic/dist/semantic.min.js"></script>
	<script src="/assets/js/owl.carousel.js"></script>
	<script src="/assets/js/main.js"></script>
</body>