<div id="top"></div>
	<!-- Progress bar area -->
	<div class="progress bar"></div>
	<a href="#top" class="ui circular icon button" id="toTop" data-slide="slide">
		<i class="angle up icon"></i>
	</a>

	<!-- Navbar fixed top area -->
	<div class="ui fixed top menu">
		<div class="center menu">
			
			<a href="/" class="item logo">Node Blog</a>
			
		</div>
	</div>
	<!-- Collapse Navbar Menu -->