<%- include layouts/header.ejs %>
<div class="ui container content">	
	<h1><%- tagline %></h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<form class="ui form" method="POST" action="/login/do">
	  <div class="field">
	    <label>Username</label>
	    <input type="text" name="username" placeholder="Username">
	  </div>
	  <div class="field">
	    <label>Last Name</label>
	    <input type="password" name="password" placeholder="Password">
	  </div>
	  <button class="ui green button" type="submit">Login</button>
	</form>
</div>
<%- include layouts/footer.ejs %>


